{:paths   ["src"]
 :deps    {com.cognitect/transit-clj    {:mvn/version "1.0.324"}
           com.wsscode/pathom           {:mvn/version "2.3.0-alpha9"}
           datascript/datascript        {:mvn/version "0.18.9"}
           hiccup/hiccup                {:mvn/version "2.0.0-alpha2"}
           io.pedestal/pedestal.jetty   {:mvn/version "0.5.7"}
           io.pedestal/pedestal.service {:mvn/version "0.5.7"}
           org.clojure/clojure          {:mvn/version "1.10.1"}}
 :aliases {:cljs {:extra-deps {com.fulcrologic/fulcro {:mvn/version "3.2.9"}
                               thheller/shadow-cljs   {:mvn/version "2.9.10"}}}
           :test {:extra-paths ["test" "dev"]
                  :extra-deps  {org.clojure/test.check {:mvn/version "0.10.0"}
                                binaryage/devtools     {:mvn/version "1.0.2"}
                                midje/midje            {:mvn/version "1.9.9"}}}}}
